hr {
  height: 2px;
  background-color:#2F6DB5;
  margin: 0;
}

header {
  @media (max-width:300px) {
    justify-content: space-around;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  @media (max-width:200px) {
    height: 20vw;
    margin: 1.4vw 3.5vw 2.4vw 3.5vw;
  }
  height: 40px;
  margin: 7px 17px 12px 17px
}


