


.pokemon-container {
  border: 2px solid #3564AE;
  border-radius: 10px;
  margin: 0;
}

.card {
  @media (max-width:500px) {
    padding: 5vw;
  }
  padding: 24px;
  background: #FFFFFF;
  box-shadow: inset -1px -1px 0px 1px #C4C4C4;
  border-radius: 16px;
}

img {
  @media (max-width:500px) {
    width: 32vw;
    margin: 6.5vw 6.5vw 0 6.5vw;
  }
  margin: 32px 32px 0 32px;
  width: 160px;
  height: auto;
}

.name {
  @media (max-width:500px) {
    margin: 6.5vw auto;
    font-size: 3vw;
  }
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  margin: 32px auto;
  color: #3564AE;
  text-align: center;
  text-transform: capitalize;
}

