<div class="card">
  <div class="pokemon-container">
    <img src="{{ image }}"
         alt="{{pokemonName}}"
          *ngIf="!isImageLoading; else noImageFound">
    <ng-template #noImageFound>
      <img src="assets/images/load_image.svg" alt="Loading image">
    </ng-template>
    <h2 class="name">{{ pokemonName }}</h2>
  </div>
</div>
