button {
  @media (max-width: 500px) {
    padding: 3vw;
    font-size: 3vw;
    margin-top: 2.5vw;
    width: 60vw;
  }
  display: inline-block;
  padding: 16px;
  width: 305px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: Montserrat, serif;
  margin-top: 12px;
  border: none;
  color: #FAFAFA;
  background: #3564AE;
}

button:disabled {
  @media (max-width: 500px) {
    padding: 2.6vw;
    border-width: 0.6vw;
  }
  -webkit-box-sizing: border-box;
  padding: 13px;
  color: #3564AE;
  background: #FAFAFA;
  border: 3px solid #3564AE;

}
