<div class="container">
  <app-pokemon-card></app-pokemon-card>
  <div class="shadow"></div>
  <app-button (btnClick)="getRandomPokemon()" text="Show another Pokemon"></app-button>
  <app-button (btnClick)="evolve()" text="Evolve" [disabled]="canEvolve"></app-button>
</div>
