

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  @media (max-width: 500px) {
    padding: 16vw 0;
  }
}
.shadow {
  @media (max-width:500px) {
    width: 32vw;
    height: 5vw;
    margin-bottom: 5vw;
  }
  width: 305px;
  height: 24px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(122, 142, 174, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
  margin-bottom: 24px;
}
