@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


html {
  width: 100vw;
  background: #E5E5E5;
  @media (max-width:1024px) { background: #FAFAFA }
}

body {
  min-height: 100%;
  position: relative;
  @media (max-width:1024px) {
    width: 100vw;
  }
  width: 70vw;
  margin: auto;
  background: #FAFAFA;
  font-size: 62.5%;
}
